@import url(//fonts.googleapis.com/css?family=IM+Fell+English+SC);
@import url(//fonts.googleapis.com/css?family=Ubuntu);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
  font-family: 'IM Fell English SC', serif;
  text-shadow: #ccc 1px 1px 5px;
}

.reveal a {
  color:           inherit;
  text-decoration: none;
  text-shadow:     #999 2px 2px 2px;
}

.reveal code {
  font-family: 'Ubuntu Mono', monospace;
}

.reveal em {
  font-style: italic;
}

.reveal h1 {
  font-size: 5em;
  margin:    0.5em;
}

.reveal h1 code, .reveal h2 code, .reveal h3 code, .reveal li code {
  font-size: 0.9em;
}

.reveal h2 {
  font-size: 4em;
  margin:    0.5em;
}

.reveal h3 {
  font-size: 3em;
  margin:    0.5em;
}

.reveal li {
  margin: 0.5em 0;
}

.reveal li code {
  font-size: 0.8em;
}

.reveal img {
  margin: 0.5em;
  width:  100%;
}

.reveal pre {
  font-family: 'Ubuntu Mono', monospace;
  font-size:   1.3em;
  line-height: 1.3;
  margin:      0 auto;
  text-align:  left;
  width:       90%;
}

.reveal pre code {
  max-height: none;
}

.reveal table {
  border-collapse: collapse;
  font-size: 1.5em;
  margin: 1em auto;
}

.reveal td, .reveal th {
  padding: 0.5em 1em;
}

.reveal td:first-child, .reveal th:first-child {
  border-right: 1px solid black;
}

.reveal th {
  border-bottom: 1px solid black;
}

.reveal ul {
  font-size:   2.5em;
  line-height: 1.2;
  list-style:  none;
  margin:      0;
}

.reveal .aaron {
  width: 40%;
}

.reveal .avatar {
  width: 25%;
}

.reveal .bit-matrix {
  width: 25%;
}

.reveal .heart {
  color: red;
}

.reveal .hljs {
  background: transparent !important;
}

.reveal .quote {
  font-family:  Ubuntu, sans-serif;
  font-size: 0.9em;
}
