/* @import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC); */
/* @import url(http://fonts.googleapis.com/css?family=Ubuntu); */
/* @import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono); */

a {
  color: inherit;
  text-decoration: none;
  text-shadow: #aaa 3px 3px 3px;
}

body {
  font-family: 'IM Fell English SC', serif;
  text-shadow: #ccc 1px 1px 5px;
}

code {
  font-size: 0.9em;
}

/* p > img + a { */
/*   font-size: 24px; */
/* } */

pre {
  font-family: 'Ubuntu Mono', monospace;
  line-height: 26px;
  margin: 0 0.2em;
}

.commandline {
  font-size: 12px;
}

.content > ul > li {
  margin-left: 0;
}

.quote {
  display: inline-block;
  font-family: Ubuntu, sans-serif;
  font-size: 32px;
  line-height: 45px;
  text-align: left;
  width: 100%;
}

#footer {
  display: none;
}
