@import url(//fonts.googleapis.com/css?family=IM+Fell+English+SC);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono);

a {
  color: inherit;
  text-decoration: none;
  text-shadow: #aaa 3px 3px 3px;
}

body {
  font-family: 'IM Fell English SC', serif;
  text-shadow: #ccc 1px 1px 5px;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 0.9em;
}

.content > ul > li {
  margin-left: 0;
}

#footer {
  display: none;
}
