@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
  font-family: 'IM Fell English SC', serif;
  text-shadow: #ccc 1px 1px 5px;
}

.reveal a {
  color:           inherit;
  text-decoration: none;
  text-shadow:     #999 2px 2px 2px;
}

.reveal code {
  font-family: 'Ubuntu Mono', monospace;
}

.reveal em {
  font-style: italic;
}

.reveal h1 {
  font-size: 5em;
  margin:    0.5em;
}

.reveal h1 code, .reveal h2 code, .reveal h3 code, .reveal li code {
  font-size: 0.9em;
}

.reveal h2 {
  font-size: 4em;
  margin:    0.5em;
}

.reveal h3 {
  font-size: 3em;
  margin:    0.5em;
}

.reveal li {
  margin: 0.5em 0;
}

.reveal img {
  margin: 0.5em;
  width:  100%;
}

.reveal kbd {
  background-color: #eee;
  border:           1px solid #ccc;
  font-family:      'Ubuntu Mono', monospace;
  padding:          0.2em;
}

.reveal p {
  font-size: 2em;
}

.reveal pre {
  font-family: 'Ubuntu Mono', monospace;
  font-size:   1.3em;
  line-height: 1.3;
  text-align:  left;
  width:       100%;
}

.reveal pre code {
  max-height: none;
}

.reveal ul {
  font-size:   2.5em;
  line-height: 1.2;
  list-style:  none;
  margin:      0;
}

.reveal ul p {
  font-size: inherit;
}

.reveal .avatar {
  width: 66%;
}

.reveal .ensure img {
  width: 75%;
}

.reveal .fowler img {
  width: 80%;
}

.reveal .sarah img {
  width: 90%;
}

.reveal .nzkoz img {
  width: 40%;
}

.reveal .quote {
  font-family: Ubuntu, sans-serif;
  line-height: 1.3;
}

.reveal .tom img {
  width: 60%;
}
