@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

a {
  color: inherit;
  text-decoration: none;
  text-shadow: #aaa 3px 3px 3px;
}

body {
  font-family: 'IM Fell English SC', serif;
  text-shadow: #ccc 1px 1px 5px;
}

h2 {
  font-size: 4em;
  margin: 0.5em;
}

code {
  font-size: 0.6em;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
  margin: 1em;
}

.content pre {
  background: none;
  font-size: 1.4em;
  line-height: 1.3;
}

.content pre .result {
  background: none;
}

.content > ul {
  list-style: none;
  padding: 0;
}

.content > ul > li {
  line-height: 1.2;
  margin-left: 0;
}

.full-screen p {
  margin: 0;
}

.quote {
  display: inline-block;
  font-family: Ubuntu, sans-serif;
  font-size: 32px;
  line-height: 45px;
  margin: auto;
  text-align: left;
  width: 75%;
}

.spoiler {
  color: transparent;
  text-shadow: none;
}

#footer {
  display: none;
}
