@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
  font-family:  'IM Fell English SC', serif;
  text-shadow:  #ccc 1px 1px 5px;
}

.reveal {
  font-size:  1.4em;
}

.reveal a {
  color:            inherit;
  text-decoration:  none;
  text-shadow:      #aaa 2px 2px 2px;
}

.reveal h1 {
  font-size:  3.5em;
}

.reveal h2 {
  font-size:  2em;
  margin:     0.5em;
}

.reveal h2 code {
  font-size:  0.8em;
}

.reveal li {
  font-size:    2em;
  line-height:  1.2;
  margin:       0.5em 0;
}

.reveal li code {
  font-size:  0.7em;
}

.reveal img {
  margin: 0.5em;
}

.reveal pre {
  font-family:  'Ubuntu Mono', monospace;
  font-size:    1em;
  line-height:  1.3;
  width:        84%;
}

.reveal pre code {
  max-height: none;
}

.reveal ul {
  list-style:  none;
  margin:      0;
  text-align:  center;
}

.reveal .quote {
  font-family:  Ubuntu, sans-serif;
  font-size:    1.5em;
  line-height:  1.4;
  margin:       1em;
  text-align:   center;
}
