pre, code {
  font-size: 40px;
  font: 'Bitstream Vera Sans Mono','Courier',monospace;
	color: black;
}

pre.highlight pre, pre.highlight, pre {
	background-color:#f8f8f8;
/*  border:1px solid #ccc;*/
	font-size:20px;
	line-height:26px;
	overflow:auto;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:6px 10px;
}

pre.highlight pre.command, pre.highlight pre.result {
  margin: 0px;
  border-radius:0px;
  -moz-border-radius:0px;
	-webkit-border-radius:0px;
	padding:0px 0px;
	border:0px solid #ccc;
}

pre.highlight pre.result {
  color: #444;
}


code {
  white-space:nowrap;
  border:1px solid #eaeaea;
  background-color:#f8f8f8;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  margin:0 2px;
  padding:0 5px;
}

pre>code
{
	white-space:pre;
	border:none;
	background:transparent;
	margin:0;
	padding:0;
}

a, a code {
	color: #4183C4;
	text-decoration:none;
}


blockquote
{
	border-left:4px solid #ddd;
	padding-left:11px;
	color:#555;
	margin:14px 0;
}

table
{
  font-size: 14px;
	border-collapse:collapse;
	margin:20px 0 0;
	padding:0;
}

table tr
{
	border-top:1px solid #ccc;
	background-color:#fff;
	margin:0;
	padding:0;
}

table tr:nth-child(2n)
{
	background-color:#f8f8f8;
}
table tr th[align="center"], table tr td[align="center"] {
	text-align:center;
}
table tr th, table tr td
{
	border:1px solid #ccc;
	text-align:left;
	margin:0;
	padding:6px 13px;
}

ul, ol
{
	margin:15px 0;
}

ul li, ol li
{
	margin-top:7px;
	margin-bottom:7px;
}



.shadow {
	-webkit-box-shadow:0 5px 15px #000;
	-moz-box-shadow:0 5px 15px #000;
	box-shadow:0 5px 15px #000;
}



/* Pygments coloring */
pre.highlight .c{color:#998;font-style:italic;}
pre.highlight .err{color:#a61717;background-color:#e3d2d2;}
pre.highlight .k{font-weight:bold;}
pre.highlight .o{font-weight:bold;}
pre.highlight .cm{color:#998;font-style:italic;}
pre.highlight .cp{color:#999;font-weight:bold;}
pre.highlight .c1{color:#998;font-style:italic;}
pre.highlight .cs{color:#999;font-weight:bold;font-style:italic;}
pre.highlight .gd{color:#000;background-color:#fdd;}
pre.highlight .gd .x{color:#000;background-color:#faa;}
pre.highlight .ge{font-style:italic;}
pre.highlight .gr{color:#a00;}
pre.highlight .gh{color:#999;}
pre.highlight .gi{color:#000;background-color:#dfd;}
pre.highlight .gi .x{color:#000;background-color:#afa;}
pre.highlight .go{color:#888;}
pre.highlight .gp{color:#555;}
pre.highlight .gs{font-weight:bold;}
pre.highlight .gu{color:#800080;font-weight:bold;}
pre.highlight .gt{color:#a00;}
pre.highlight .kc{font-weight:bold;}
pre.highlight .kd{font-weight:bold;}
pre.highlight .kn{font-weight:bold;}
pre.highlight .kp{font-weight:bold;}
pre.highlight .kr{font-weight:bold;}
pre.highlight .kt{color:#458;font-weight:bold;}
pre.highlight .m{color:#099;}
pre.highlight .s{color:#d14;}
pre.highlight .na{color:#008080;}
pre.highlight .nb{color:#0086B3;}
pre.highlight .nc{color:#458;font-weight:bold;}
pre.highlight .no{color:#008080;}
pre.highlight .ni{color:#800080;}
pre.highlight .ne{color:#900;font-weight:bold;}
pre.highlight .nf{color:#900;font-weight:bold;}
pre.highlight .nn{color:#555;}
pre.highlight .nt{color:#000080;}
pre.highlight .nv{color:#008080;}
pre.highlight .ow{font-weight:bold;}
pre.highlight .w{color:#bbb;}
pre.highlight .mf{color:#099;}
pre.highlight .mh{color:#099;}
pre.highlight .mi{color:#099;}
pre.highlight .mo{color:#099;}
pre.highlight .sb{color:#d14;}
pre.highlight .sc{color:#d14;}
pre.highlight .sd{color:#d14;}
pre.highlight .s2{color:#d14;}
pre.highlight .se{color:#d14;}
pre.highlight .sh{color:#d14;}
pre.highlight .si{color:#d14;}
pre.highlight .sx{color:#d14;}
pre.highlight .sr{color:#009926;}
pre.highlight .s1{color:#d14;}
pre.highlight .ss{color:#990073;}
pre.highlight .bp{color:#999;}
pre.highlight .vc{color:#008080;}
pre.highlight .vg{color:#008080;}
pre.highlight .vi{color:#008080;}
pre.highlight .il{color:#099;}

