@import url(//fonts.googleapis.com/css?family=IM+Fell+English+SC);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono);

a {
  color: inherit;
  text-decoration: none;
  text-shadow: #aaa 3px 3px 3px;
}

body {
  font-family: 'IM Fell English SC', serif;
  text-shadow: #ccc 1px 1px 5px;
}

code {
  font-size: 27px;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
  margin: 0.5em;
  line-height: 35px;
}

.content > ul > li {
  margin-left: 0;
}

.content .quote {
  font-family:  Ubuntu, sans-serif;
  font-size:    2em;
  line-height:  1.4;
  margin:       1em;
  margin-left:  10em;
  text-align:   left;
}

#footer {
  display: none;
}
